:root {
    --primary-color: #61259e;
    --bg-color: #1f2021;
    --text-color: #fff;
    --black-color: #161617;
    --black40-color: rgba(21, 22, 23, .4);
    --black50-color: rgba(21, 22, 23, .5);
    --white10-color: rgba(255, 255, 255, .1);
    --white20-color: rgba(255, 255, 255, .2);
    --gray-light: #ddd;
    --scrollbar-color: #c0c0c0;
}